/*
***** TAKING NOTES cause i'm noob *****

https://developer.mozilla.org/zh-TW/docs/Web/CSS

border-radius:(float)px 圓滑度
background-color:(color code) 背景顏色
overflow:(visible 內容溢出 hidden 不溢出 scroll 固定下拉式 auto 自動下拉)
font-family: 字型
float: 位置
text-align: 字體位置
font-size: 字體大小
padding: 物件周圍的空位
text-decoration: 字體裝飾
outline: 外框
position:擺放方式
margin: 位置
height: 高度
width: 寬度
left: 固定
right: 固定
box-shadow: px px px px color; 陰影
*/
.main_title {
  font-family: 微軟正黑體;
  font-size: 25px;
}
/* Background */
html {
  background-color: #E0E0E0;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 微軟正黑體;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color:grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 微軟正黑體;
}

/* The dropdown container */
.dropdown {
  /*position: relative;*/
  float: left;
  overflow: visible;
  /*display: inline-block;*/
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: 微軟正黑體;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #74a52b;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: #74a52b;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  font-family: 微軟正黑體;
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #cecccc;
  height: 250px;
}

/* Style links inside the columns */
.column a {
  font-family: 微軟正黑體;
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column h3 {
  color: black;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #444444;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}