/*
https://developer.mozilla.org/zh-TW/docs/Web/CSS

border-radius:(float)px 圓滑度
background-color:(color code) 背景顏色
overflow:(visible 內容溢出 hidden 不溢出 scroll 固定下拉式 auto 自動下拉)
font-family: 字型
float: 位置
text-align: 字體位置
font-size: 字體大小
padding: 物件周圍(左方)的空位
text-decoration: 字體裝飾
outline: 外框
position:擺放方式
margin: 位置
height: 高度
width: 寬度
left: 固定
right: 固定
box-shadow: px px px px color; 陰影
*/
.main_header {
  font-size: 25px;
  color: black;
  /*margin: 5px;*/
}
/* Background */
html {
  background-color: #E0E0E0;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: "微軟正黑體";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color:white;
  text-align: center;
  padding: 14px;
  margin: 0;
  text-decoration: none;
  font-family: "微軟正黑體";
  
}

/* The dropdown container */
.dropdown {
  position: relative;
  float: left;
  overflow: auto;
  /*border-radius: 5px;*/
  /*display: inline-block;*/
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: "微軟正黑體";
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a green background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #74a52b;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  position:fixed;
  display: none;
  /*background-color: #f9f9f9;*/
  width: 208px;
  overflow: hidden;
  left: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: #74a52b;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  font-family: "微軟正黑體";
  float: left;
  overflow: auto;
  padding: 8px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  width: 208px;
  height: 30%;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  
}

/* Style links inside the columns */
.column a {
  font-family: "微軟正黑體";
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  /*border-radius: 5px;*/
  text-align: left;
  
}

.column h3 {
  color: black;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #202020;
  color: white;
}

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/

#php1{
  width: 70%;
  height: 700px;
  overflow: auto;
  margin: 2% 15%;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.paragraph h2{
  text-align: center;
  font-family:'Segoe UI';
}

.paragraph{
  margin-top: 60px;
}